
*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
  margin: auto;
  width: 70%;
}

.flex-container {
  display: flex;
}

.logo{
  margin: 0 auto;
  font-size: 40px;
  font-weight: bolder;
  border: 1px solid black;
  color: black;
}

.logo > .paynow{
  display: inline-block;
  margin: 0 auto;
}
.icon_one{
  border: 1px solid black;
}

.icon_two{
  border: 1px solid black;
}
.flex-child {
  flex: 1;
  height: 80px;
  text-align: center;
  /* border: 2px solid yellow; */
}
