<div class="flex-container-parent">
    <div class="flex-container-top">
        <div class="flex-left">
            <img src="./assets/welcome.png" alt="not found" >
        </div>



       <div class="flex-right">
            <div class="welcome">
                <h1>Welcome</h1>
            </div>
            <div *ngIf="!isError" class="caption">
                <h4>You can send money here!</h4>
            </div>
            <div *ngIf="isError" class="caption">
              <h4>Sorry services are shutdown on {{day}}</h4>
          </div>

        </div>
    </div>



    <div *ngIf="!isError" class="flex-container-bottom">
        <div  class="button">
             <button  (click) = "nextPage()" class="btn">Get Started</button>
            </div>

    </div>



    </div>
