<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Date</th>
        <th>UTR Number</th>
        <th>Sender Account</th>
        <th>Receiver Account</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Code</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transData of data">
        <td>{{ transData["dot"] }}</td>
        <td>{{ transData["utr_NUMBER"] }}</td>
        <td>{{ transData["sender_ACNUM"] }}</td>
        <td>{{ transData["beneficiary_ACNUM"] }}</td>
        <td>{{ transData["amount"] }}</td>
        <td>{{ transData["status"] }}</td>
        <td>{{ transData["code"] }}</td>
      </tr>
    </tbody>

    <tbody></tbody>
  </table>
</div>
