

<!-- we need to define a structure  -->

<div class="flex_container">
  <!-- align them column wise! -->
  <div class="flex_left">
    <!-- image -->

    <div class="image">
      <img src="assets/receiver.png" alt="" />
    </div>
  </div>

  <div class="flex_right">
    <!-- input bic  -->
    <!-- search bar  -->
    <!-- <ng-autocomplete></ng-autocomplete> -->

    <div class="bic">
      <div class="label">Enter your Receiver Bank Name:</div>

      <div style="margin-bottom: 20px" class="search_bar">
        <!--Using ng-option and for loop-->
        <!-- <ng-select [(ngModel)]="selectedCar">
          <ng-option *ngFor="let car of cars" [value]="car.id">{{car.name}}</ng-option>
        </ng-select> -->

        <!--Using items input-->
        <ng-select class="custom" [items]="receiverBanks" bindLabel="bank" bindValue="bic" [(ngModel)]="selectedBank">

          <ng-template ng-label-tmp let-item="item">
            <span>{{ item.bank + ' (' + item.bic + ' )'}}</span>
          </ng-template>
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
            <span>{{ item.bank + ' (' + item.bic + ' )'}}</span>
          </ng-template>
        </ng-select>
      </div>
    </div>


    <div *ngIf="selectedBank">
      <!-- input money -->
      <div class="input_money">
        <div class="label">Amount:</div>
        <input [(ngModel)]="amount" name="amount" type="text" appNumbersOnly="10" />
      </div>
      <div class="input_money">
        <div class="label">Account Number:</div>
        <input  name="amount" type="text"/>
      </div>
      <!-- input Name -->
      <div class="input_money">
        <div class="label">Name:</div>
        <input [(ngModel)]="name" name="amount" type="text" />
      </div>

      <!-- select type -->
      <div class="input_money">
        <div class="label">Message code:</div>
        <select [(ngModel)]="code" id="ttype" name="cars" id="cars">
          <option value="CORT">CORT</option>
          <option value="HOLD">HOLD</option>
          <option value="REPA">REPA</option>
          <option value="PHOB">PHOB</option>
          <option value="PHOI">PHOI</option>
          <option value="PHON">PHON</option>
          <option value="CHQD">CHQD</option>
          <option value="INTC">INTC</option>
          <option value="SDVA">SDVA</option>
        </select>
      </div>
      <!-- send button -->

      <div class="send_button">
        <div class="wrapper">
          <span style="margin-right: 20px;" class="link_wrapper">
            <button (click)="checkBalance()">Check Balance</button>
          </span>

          <span class="link_wrapper">
            <button (click)="nextPage()">Send Money</button>
          </span>
        </div>
      </div>
    </div>

  </div>
</div>


<ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>
